@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*::after,*::before,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #FD8F5C;
    --white: #ffffff;
    --black: #000000;
    --red: #E9453A;
    --blue: #254FA0;
    --green: #049645;
    --yellow: #FDC40C;
    --light-green: #2AAC48;
}
img{
    width: 100%;
}
header{
    width: 100%;

}
nav{
    width: 100%;
    padding: 25px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: #111;
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.madamfo{
    color: var(--blue);
}
.logo a img{
    width: 200px;
}
.logo span{
    font-size: 18px;
    font-weight: 600;
}
.logo span span{
    color: var(--red);
}
.navLinks ul{
    display: flex;
}
.navLinks ul li {
    margin-left: 8px;
}
.navLinks ul li a{
    color: var(--green);
    font-size: 15px;
    transition: 500ms ease;   
    font-weight: 500;                          
}
.navLinks ul li a:hover{
    color: var(--blue);
    transition: 500ms ease;
}
#menu_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    display: none;
}
#menu_icon i{
    font-size: 25px;
    font-weight: 600;
}
.banner{
    width: 100%;
    height: 100vh;
    /* background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/IMG_2.jpg') no-repeat;
    background-size: cover; */
}
.banner_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px 4%;
   
}
.type{
    color: var(--yellow);
}
/* Swiper Js */
.swiper {
    width: 100%;
    height: 100%;
    
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .banner_1{
    background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/IMG_2.jpg') no-repeat;
    background-size: cover;
   
}
.banner_2{
    background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/recycle_img.jpg') no-repeat;
    background-size: cover;
    }
.banner_3{
    background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/tech_img.jpg') no-repeat;
    background-size: cover;
}
/* .banner_1,.banner_2, .banner_3 {
	-webkit-animation: kenburns-top 5s ease-in-out infinite alternate both;
	        animation: kenburns-top 5s ease-in-out infinite alternate both;
}
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  } */
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.banner_content div{
    width: 500px;
    height: 450px;
    text-align: center;
    margin-top: 1.8rem;
    
}
.banner_content div h1{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}
.banner_btn{
    margin-top: 18px;

}
.banner_btn a:nth-child(1) {
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
}
.banner_btn a:nth-child(1):hover {

    border: 1px solid var(--red);
  
}
.banner_btn a:nth-child(2) {
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
}
/* mission */
.mission_container{
    padding: 2% 4%;
    text-align: center;
}

.mission_container h1{
    text-align: center;
    padding: 2% 0;
    font-size: 2rem;
}
.mission_container p{
    font-weight: 600;
    line-height: 1.8;
}
/* about */
.about{
    padding: 2% 4%;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/env_2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
}
.about h1{
    text-align: center;
    padding-bottom: 2%;
    color: var(--white);
}
.about_info{
    text-align: center;
    color: var(--white);
    padding: 2% 0;
}
.about_info h2{
    padding: 2% 0;
}
.about_img{
    width: 100%;
    overflow: hidden;
    padding: 2% 0;
}
.about_img .swiper{
    width: 100%;
}
/* Services */
.service{
    width: 100%;
    /* height: 100vh; */
    padding: 24px 4%;
    background:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url('./assets/kit_1.jpg');
    background-size: cover;
    margin-bottom: 25px;
}
.service h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 15px;
    margin-top: 18px;
    margin-bottom: 20px;
}
.service h2 span{
    color: var(--red);
}
.service_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
    padding: 2% 0px;
}
.service_box_l, .service_box_r{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 2% 0;

}
.service_box_l p, .service_box_r p{
    font-size: 13px;
    padding-top: 10px;
    font-weight: 500;
}
.service_box_l i{
    font-size: 1.8rem;
    text-align: center;
    color: var(--white);
}
.service_box_r i{
    font-size: 1.8rem;
    text-align: center;
    color: var(--white);
}

/* .service_box_r div:nth-child(2){
    margin-left: 15px;
} */
.service_icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
    cursor: pointer;
}
.green_color{
    background: var(--light-green);
}
.blue_color{
    background: var(--blue);
}
.yellow_color{
    background: var(--yellow);
}
.col-m{
display: flex;
align-items: center;
justify-content: center;
}
.col-m img{
width: 300px;
max-width: 100%;
}
/* product */
.product{
    width: 100%;
    padding: 20px 0;
    /* margin-top: 20px; */
}
.product h2{
    text-align: center;
    font-size: 2rem;
}
.product h2 span{
    color: var(--red);
}
.product_container{
    padding: 24px 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}
.product_item{
    width: 280px;
    max-width: 100%;
    /* border: 1px solid #111; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 5px;
    overflow: hidden;
}
.product_item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s ease;
}
.product_item img{
    object-fit: cover;
}
.product_item:hover img{
    opacity: .6;
    transition: all 0.5s ease;
}
.product_detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.product_detail p{
    font-size: 14px;
    font-weight: 600;
}
.product_detail p:nth-child(1){
    color: var(--red);
}
.list{
    padding: 10px;
}
.list p{
    font-weight: 500;
    font-size: 13px;
}
.product_item a{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 20px auto;
    
}
.product_item a .product_item_btn{
    background: var(--red);
    width: 80%;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 auto;
    outline: none;
    border: none;
    color: var(--white);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;

}
.custom_kit{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/first_aid.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* margin-top: 5%; */
    padding: 5% 4%;
    position: relative;

}

/* custom kit */
.custom_title{
    padding: 5%;
}
.custom_title h1{
    font-size: 2.5rem;
    color: var(--white);
    text-align: left;
    padding: 0 1%;
    
}
.custom_title p{
    margin-top: 10px;
    color: var(--white);
    text-align: left;
    padding: 0 1%;
}

.custom_btn button{
 width: 100%;
 padding: 10px 15px;
 background: var(--red);
 color: var(--white);
 font-weight: 600;
 border-radius: 30px;
 outline: none;
 border: none;
 cursor: pointer;
}
.custom_btn{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 2%;
    margin-top: 20px;
    padding-left: 1%;
}
.custom_btn a{
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 30px;
}
.custom_btn a:nth-child(1){
    background: var(--red);
    color: var(--white);
}
.custom_btn a:nth-child(2){
    background: var(--light-green);
    color: var(--white);
}
/* custom_swiper */
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/first_aid.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    
  }

  /* .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  } */
.vulunteer{
    width: 100%;
    padding: 24px 4%;
}
.vul_container h1{
 text-align: center;
 font-size: 2rem;
 padding: 2% 0;
}
.vul_container span{
    color: var(--red);
}
.vul_content{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('./assets/vulunteer_3.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 4% 2%;
}
.vul_content h2{
    font-size: 2rem;
  
    color: var(--white);
}
.vul_btn{
    margin-top: 2%;
}
.vul_btn a{
    padding: 10px 15px;
    background: var(--blue);
    color: var(--white);
    border-radius: 30px;
    font-size: 14px;
}
.vul_btn a:nth-child(1):hover{
    background: transparent;
    color: var(--white);
    border: 1px solid var(--blue);
}
.team{
    margin-top: 15px;
    overflow-x: hidden;
}
.team h1{
    text-align: center;
    padding: 2% 0;
}
.team p{
    text-align: center;
    margin: 2% 0;
}
.team span{
    color: var(--red);
}
.team_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 2% 0;
    margin-top: 30px;
}
.team_item{
    width: 400px;
    height: 250px;
    max-width: 100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    text-align: center;
    padding: 2%;
    position: relative;
    margin-top: 10%;
    
}
.team_item .team_profile{
    margin-top: 60px;
    text-align:  center;
}
.team_profile h2{
    font-size: 14px;
}
.team_profile h3{
    font-weight: 500;
    color: #BFB5CC;
    padding: 2% 0;
}
.team_profile p{
    font-size: 15px;
}
.team_pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
}
/* Blog */
.blog{
    width: 100%;
    padding: 2% 0;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/vulunteer_1.jpg');
    background-position: center;
    background-size: cover;
    /* margin-bottom: 30px; */
}
.blog h1{
    padding: 2% 0;
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    
}
.blog_container{
    padding: 2% 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    overflow-x: hidden;
}
.blog_item{
    max-width: 100%;
    width: 300px;
    background: var(--white);
    padding: 15px;
    border-radius: 5px;
}
.blog_item span{
    font-size: 10px;
    color: #049645;
    font-weight: 600;
    padding: 15px 0;
}

.blog_item span a{
    color: var(--black);
}
.blog_item p{
    font-size: 12px;
    padding: 15px 0;
}
.blog_item h4{
    padding-top: 10px;
}
.blog_btn{
    padding: 5px 10px;
    background: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    font-size: 10px;
    border-radius: 30px;
}
.newsletter{
    padding: 2% 4%;
    background: #F2F4F4;
}
.newsletter_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2% 0;
}
.newsletter_container div h1{
    font-size: 28px;
    padding: 10px 0;
    color: var(--light-green);
}
.newsletter_container div h5{
    font-size: 10px;
}
.newsletter_container .email input{
    width: 50%;
    padding: 10px 15px;
    border: none;
}
.email{
    width: 50%;
}
.email button{
    padding: 10px 15px;
    background: var(--light-green);
    color: var(--white);
    border: none;
    cursor: pointer;
}
.email button i{
    font-weight: 600;
}
footer{
    width: 100%;
    background: #111;
    padding: 2% 4%;
    margin-bottom: 15px;
}
.footer_l p{
    width: 300px;
    max-width: 100%;
    color: var(--white);
    font-size: 12px;
}
.footer_l a img{
    width: 220px;
}
.footer_container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 2% 0;
    flex-wrap: wrap;
    gap: 25px;
}
.footer_r span{
    color: var(--white);
    font-size: 13px;
}
.footer_r button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--light-green);
    color: var(--white);
    border: none;
    outline: none;
}
hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.footer_m{
    color: var(--white);

}
.footer_m h3{
    padding: 10px 0;
}
.footer_m li{
    font-size: 15px;
    padding: 8px 0;
}
.footer_m ul li a{
    color: var(--green);
    transition: 500ms ease;
}
.footer_m ul li a:hover{
    text-decoration: underline;
    transition: 500ms ease;
}
.copy_right{
    text-align: center;
    padding: 2% 0;
    color: #f2f4f4;
    font-size: 10px;
}
/* Media Queries */
@media (max-width: 965px){
    .product_item{
        width: 100%;
    }
    .blog_item{
        width: 100%;
    }
    #menu_icon{
        display: block;
    }
    .navLinks{
        position: absolute;
        top: -100%;
        left: 0;
        z-index: 10;
        width: 100%;
        transition: all 500ms ease;
    }
    .navLinks ul{
        display: block;
        background: var(--white);
        width: 100%;
    }
    .navLinks ul li{
        margin-top: 10px;
        padding: 10px 0;
    }
    .navLinks ul li a{
        font-size: 18px;
    }
    .show_menu{
        top: 12%;
        transition: all 500ms ease;
    }
    .custom_form{
        width: 100%;
    }
    .custom_title h1{
        font-size: 2rem;
        margin-top: 20px;
    }
    .email{
        width: 100%;
    }
}