@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*::after,*::before,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary-color: #FD8F5C;
    --white: #ffffff;
    --black: #000000;
    --red: #E9453A;
    --blue: #254FA0;
    --green: #049645;
    --yellow: #FDC40C;
    --light-green: #2AAC48;
}
img{
    width: 100%;
}
header{
    width: 100%;

}
nav{
    width: 100%;
    padding: 25px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: #fff;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo a img{
    width: 65px;
}
.logo span{
    font-size: 18px;
    font-weight: 600;
}
.logo span span{
    color: var(--red);
}
.navLinks ul{
    display: flex;
}
.navLinks ul li {
    margin-left: 8px;
}
.navLinks ul li a{
    color: var(--primary-color);
    font-size: 15px;
}
.banner{
    width: 100%;
    height: 100vh;
    /* background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/IMG_2.jpg') no-repeat;
    background-size: cover; */
}
.banner_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px 4%;
   
}
/* Swiper Js */
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .banner_1{
    background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/IMG_2.jpg') no-repeat;
    background-size: cover;
}
.banner_2{
    background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/recycle_img.jpg') no-repeat;
    background-size: cover;
    }
.banner_3{
    background:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/tech_img.jpg') no-repeat;
    background-size: cover;
}
/* .banner_1,.banner_2, .banner_3 {
	-webkit-animation: kenburns-top 5s ease-in-out infinite alternate both;
	        animation: kenburns-top 5s ease-in-out infinite alternate both;
}
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  } */
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.banner_content div{
    width: 500px;
    height: 450px;
    text-align: center;
    margin-top: 1.8rem;
}
.banner_content div h1{
    text-align: center;
    font-size: 2.3rem;
    color: #fff;
}
.banner_btn{
    margin-top: 18px;

}
.banner_btn a:nth-child(1) {
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
}
.banner_btn a:nth-child(2) {
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
}
/* Services */
.service{
    width: 100%;
    height: 100vh;
    padding: 24px 4%;
    background:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url('./assets/p2.jpeg');
    background-position: center;
    background-size: cover;
}
.service h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 15px;
    margin-top: 18px;
    margin-bottom: 20px;
}
.service h2 span{
    color: var(--red);
}
.service_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}
.service_box_l, .service_box_r{
    display: flex;
    gap: 10px;
    margin-top: 18px;

}
.service_box_l p{
    font-size: 15px;
}
.service_box_l i{
    font-size: 1.8rem;
    text-align: center;
    color: var(--white);
}
.service_box_r i{
    font-size: 1.8rem;
    text-align: center;
    color: var(--white);
}
.service_icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
    cursor: pointer;
}
.col-m{
display: flex;
align-items: center;
justify-content: center;
}
.col-m img{
width: 300px;
max-width: 100%;
}
/* product */
.product{
    width: 100%;
    padding: 20px 0;
}
.product h2{
    text-align: center;
    font-size: 2rem;
}
.product h2 span{
    color: var(--red);
}
.product_container{
    padding: 24px 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 10px;
}
.product_item{
    width: 280px;
    max-width: 100%;
    /* border: 1px solid #111; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product_item img{
    object-fit: cover;
}
.product_detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.product_detail p{
    font-size: 14px;
    font-weight: 600;
}
.product_detail p:nth-child(1){
    color: var(--red);
}
.list{
    padding: 10px;
}
.list p{
    font-weight: 500;
    font-size: 13px;
}
.product_item a{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 20px auto;
    
}
.product_item a .product_item_btn{
    background: var(--red);
    width: 80%;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 auto;
    outline: none;
    border: none;
    color: var(--white);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;

}

@media (max-width: 965px){
    .product_item{
        width: 100%;
    }
}